
/*------START CSS OWL-------*/
.owl-carousel-slider-top .owl-dots {
    text-align: center;
    /* margin-top: 1.3rem; */
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    line-height: 0;
    bottom: 10px;
}
.owl-carousel-slider-top .owl-dot {
    border-radius: 75px;
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 1px solid #fff;
    /*background: transparent !important;*/
    margin-left: 5px;
    margin-right: 5px;
}
.owl-carousel-slider-top .owl-nav {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
}
.owl-carousel-slider-top .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: initial;
}
.item-slider-top {
    height: 365pt;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #000000;
}
/*------END OWL ------*/
