/*------START CSS OWL-------*/
.owl-carousel-slider-top .owl-dots {
    text-align: center;
    /* margin-top: 1.3rem; */
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    line-height: 0;
    bottom: 10px;
}

.owl-carousel-slider-top .owl-dot {
    border-radius: 75px;
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 1px solid #fff;
    /*background: transparent !important;*/
    margin-left: 5px;
    margin-right: 5px;
}

.owl-carousel-slider-top .owl-nav {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
}

.owl-carousel-slider-top .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: initial;
}

.item-slider-top {
    height: 365pt;
}

.owl-carousel-slider-top .owl-nav button {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 26px;
    width: 3rem;
    height: 3rem;
}

.owl-carousel-slider-top .owl-nav button:first-child {
    margin-left: 10px;
}

.owl-carousel-slider-top .owl-nav button:last-child {
    float: right;
    margin-right: 10px;
}

/*------END OWL ------*/
